<html>
<body bgcolor="yellow" text="red">
  <form action="./comp" method="get">
    <h1><U>STUDENT DETAILS </U></h1>
    <h2>ENTER STUDENT NAME:<input type="text" name="t1" size="15"></h2>
    <h2>ENTER STUDENT ROLLNO:<input type="text" name="t2" size="15"></h2>
    <h2>ENTER STUDENT BRANCH:<input type="text" name="t3" size="15"></h2>
    <h2>ENTER STUDENT COLLEGE:<input type="text" name="t4" size="15"></h2>
    <h2>ENTER MARKS OF MATHS:<input type="text" name="t5" size="5"></h2>
    <h2>ENTER MARKS OF PHYSICS:<input type="text" name="t6" size="5"></h2>
    <h2>ENTER MARKS OF CHEMISTRY:<input type="text" name="t7" size="5"></h2>
    <input type="file" value="Resume" name="t8">
    <input type="submit" value="SUBMIT">
    <input type="reset" value="CLEAR">
    </form>
  </body>
  </html>