{% load static %}
<html >
<head>

    <link rel="stylesheet" href="{% static 'css/sample1.css' %}">
</head>
<body>
<form action="./>comp" method="get">
    <h1>Enter the Product Name: <input type="text" name="t1"></h1>
    <h1>Enter the Product Name: <input type="text" name="t2"></h1>
    <h1>Enter the Product Name: <input type="text" name="t3"></h1>
    <h1>Enter the Product Name: <input type="text" name="t4"></h1>
    <h1>Enter the Product Name: <input type="text" name="t5"></h1>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>